@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Fascinate+Inline&display=swap');

.App {
  text-align: center;
}

body {
  background-color: rgb(226, 220, 220);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Catamaran', sans-serif;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: slateblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .links {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  color: white;
  text-decoration: none;
  padding-bottom: 2px;
  margin: 10px;
  font-size: 20px;
}

.navbar .user {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.user p {
  font-size: 16px;
  margin-right: 10px;
  color: white;
}
.user img {
  /* font-size: 15px; */
  border-radius: 50%;
}

.navbar .btn-container {
  margin-right: 1rem;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.login-btn,
.logout-btn {
  font-size: 16px;
  letter-spacing: 0.1rem;
  padding: 7px 12px;
  margin-left: 25px;
  border-radius: 10px;
  color: #f0fff1;
  background-color: #6d03dd;
  border: 1px solid #f0fff1;
  cursor: pointer;
  transition: all 0.3s linear;
}

.login-btn:hover,
.logout-btn:hover {
  color: #6d03dd;
  background-color: #f0fff1;
  border: 1px solid #6d03dd;
}

.like-btn {
  padding: 5px 15px;
  cursor: pointer;
}

input,
textarea {
  font-family: 'Nunito', sans-serif;
}

.create-post {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
form {
  margin-top: 50px;
  padding: 30px 20px;
  width: 320px;
  border-radius: 7px;
  background-color: white;
  backdrop-filter: blur(5px);
  background-color: rgba(43, 0, 255, 0.588);
  overflow: hidden;
}

input,
textarea {
  padding: 8px 10px;
  margin: 3px 8px 16px 8px;
  background-color: rgba(222, 239, 248, 0.877);
  border: 0px transparent;
  border-radius: 5px;
  color: rgb(97, 4, 184);
  font-size: 16px;
  z-index: 1;
}

.submit-form:hover {
  cursor: pointer;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.post-card {
  background: #fff;
  margin: 1.2rem;
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.3s linear;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  width: 90%;
  min-width: 200px;
}
.post-card h1,
p {
  margin: 10px;
  line-height: 1.4;
}
.post-card:hover {
  box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
.post-card .title {
  font-size: 1.5rem;
}
.post-card .body {
  font-size: 1.2rem;
}
.post-card .footer {
  letter-spacing: 0.1rem;
  margin-bottom: 0.3rem;
  color: #afafaf;
}

@media (min-width: 768px) {
  .post-card {
    width: 70%;
  }
  .navbar .user {
    height: auto;
    overflow: auto;
  }
}

@media (min-width: 1024px) {
  .post-card {
    width: 50%;
  }
}
